# Relatório de Análise II

## Tipos de Imóveis

In [72]:
import pandas as pd

In [73]:
dados = pd.read_csv('C:\Estudos\DataScience_Alura\python_pandas\dados\Aluguel.csv', sep=';')

In [54]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [55]:
dados['Tipo']

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [56]:
dados.Tipo

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [57]:
tipo_de_imovel = dados['Tipo']
tipo_de_imovel

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [58]:
type(tipo_de_imovel)

pandas.core.series.Series

In [59]:
tipo_de_imovel.drop_duplicates()

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

In [60]:
tipo_de_imovel.drop_duplicates(inplace=True)

# Organizando a Visualização

In [61]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [62]:
tipo_de_imovel

                     Tipo
0             Apartamento
16923                Casa
17821  Casa de Condomínio
18785        Casa de Vila
19018           Quitinete

In [63]:
tipo_de_imovel.index

Int64Index([0, 16923, 17821, 18785, 19018], dtype='int64')

In [64]:
range(tipo_de_imovel.shape[0])

range(0, 5)

In [65]:
for i in range(tipo_de_imovel.shape[0]):
    print(i)

0
1
2
3
4

In [66]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [67]:
tipo_de_imovel.index

RangeIndex(start=0, stop=5, step=1)

In [68]:
tipo_de_imovel

                 Tipo
0         Apartamento
1                Casa
2  Casa de Condomínio
3        Casa de Vila
4           Quitinete

In [69]:
tipo_de_imovel.columns.name = 'Id'

In [70]:
tipo_de_imovel

Id                Tipo
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete